<html>
    <head>
      <title> Cameron Thanks You </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
    </head>
    <body>
      <div class="container">
        <div>
          Thank you <%= contact.firstName %> <%= contact.lastName %>.
        </div>
      </div>
    </body>
  </html>